<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.task.title') %></strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.description') %></strong>
  <%= @task.description %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.limit') %></strong>
  <%= @task.limit %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.status_id') %></strong>
  <%= @task.status.name %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
